language: node_js
node_js:
  - lts/dubnium
cache: npm
os: linux
addons:
  chrome: stable
install: npm install
before_script:
  - npm install -g grunt
  - export NODE_OPTIONS=--max_old_space_size=2048
script:
  - grunt lint
  - npm test
  - grunt testnodeconsumer
  - grunt prod --msg="$COMPILE_MSG"
  - xvfb-run --server-args="-screen 0 1200x800x24" grunt testui
before_deploy:
  - grunt exec:sitemap
  - grunt copy:ghPages
deploy:
  - provider: pages
    edge: true
    token: $GITHUB_TOKEN
    local_dir: build/prod/
    target_branch: gh-pages
    on:
      repo: piggymoe/CyberChef
      branch: master
